body {
    font-family: Inter, san-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
        url('cover.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #111;
}

.landing-container {
    background: #fff;
    padding: 40px 30px;
    border-radius: 16px;
    box-shadow: 0 6px 18px rgb(16, 24, 40, 0.0.08);
    max-width: 500px;
}

h1 {
    font-size: 28px;
    margin-bottom: 24px;
}

p {
    font-size: 16px;
    margin-bottom: 24px;
    color: #6b7280;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background: #2563eb;
    color: #fff;
    padding: 12px 24px;
    border-radius: 12px;
    font-weight: 600;
    transition: 2s ease-in-out;
}

.btn:hover {
    background: #1e40af;
}

.btn-outline {
    background: transparent;
    border: 2px solid #2563eb;
    color: #2563eb;
    margin-left: 10px;
}

.btn-outline:hover {
    background: #2563eb;
    color: #fff;
}

footer {
    margin-top: 24px;
    font-size: 12px;
    color: #6b7280;
}